
<html>
   <head>
     <meta charset="utf- 8">
        <title>JAM</title>
     <link rel="stylesheet" type="text/css" href="css/style.css">
   </head>

  <body>
    <h1 class = "Heading1" align= "center"> WELCOME 2 JAM!! <br><br></h1>
     <img class="gif" src="https://media2.giphy.com/media/OF0yOAufcWLfi/200.gif" height= "150px">
    <p align= "center"> JAM is a website to help you figure out who you are and to embrace your inner teen. </p>



    <style>
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 25%;
    padding: 15px;
}
 .column2 {
    float: left;
    width: 30%;
    padding: 15px;
}
 .column3 {
    float: right;
    width: 45%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
   

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
</style>
</head>
<body>


<div class="row">
  <div class="column1">
    <h1 class = "advice">We Have Inspiring Quotes...</h1>
    <img src="https://media.giphy.com/media/3o7TKNjg8dxB5ysRnW/giphy.gif" height=150px>
    <br>
    <p6><b> "Do you really want to look back on your life and see how wonderful it could have been had you not been afraid to live in?" - Caroine Myss (Life)</b></p6>
     <br></br>
     <p12><i>"A woman has got to love a bad man once of twice in her life, to be thanlful for the good one" - Marjorie Kinnan (Love)</i></p12>
  <br></br>
  <p13><b>"One of the most beautiful qualities of true friendship is to understand and to be understod." - Lucius Annaeus Seneca (Friends)</b></p13>
  <br></br>
  <p14><i>"Aging is not 'lost youth', but a new stage of opportunity and strength." - Betty Friedan (Self-Love)</i></p14>
  <br></br>
  <p15><b>"No friendship is an accident." - O. Henry (Friends)</b></p15>
  </div>
  <div class="column2">
    <h2 class="nothing"></h2>
    <p5><i> "It needs to be said and heard: it's ok to be who you are."- Hailee Steinfield (Self-Love)</i></p5>
    <br></br>
    <p7><b> "Everyone inside of her has a piece of good news. The good news is that you don't know how great you can be, how much you can love, what you can accomplish, and what your potential is." - Anne Frank (Life)</b>
      <br></br>
  <p8><i>"Friendship is the hardest thing in the world to explain. It's not something you learn in in school. But if you haven't learned the meaning of friendship, you really haven't learned anything." - Muhammad Ali (Friends)</i>
  </p8>
  <br></br>
  <p10><b>"The biggest risk is not taking any risks...In a world that's changing really quickly, the only strategy that is guaranteed to fail is not taking risks." - Mark Zuckerberg (Life)</b>
  </p10>
  <br></br>
  <p11> <i>"I have come to realize that making yourself happy is important. Never be ashamed of how you feel. You have the right to feel any emotion you want, and do what makes you happy" - Demi Lovato (Self-Love)</i></p11>
  <br></br>
  <img class="snoopy" src="https://media1.tenor.com/images/c16b4c7805f2324183a7da1dc97c3d81/tenor.gif?itemid=10270498" height= "150px" width= "150px">
  </div>
  <div class="column3">
    <h1 class="quiz" align = "right">We Have Quizzes!!</h1>
    <p3 class = "intro"> Take this quiz to find out which of the JAM creators you are most like!</p3>
    

 


</body>
<div class = "answers" align = "right">
<form method="post">
<h2>Which of these is the best color?</h2>
<input type="radio" name="color" value="Blue"><label>Blue</label>
<input type="radio" name="color" value="Black"><label>Black</label>
<input type="radio" name="color" value="Rainbow"><label>Rainbow</label>
<br></br>

<h2>Which of these is the best movie?</h2>
<input type="radio" name="movie" value="Big Hero 6"><label>Big Hero 6</label>
<input type="radio" name="movie" value="the Lion King"><label>The Lion King</label>
<input type="radio" name="movie" value="A League of Their Own"><label>A League of Their Own</label>
<br></br>

<h2>Which is artist is your favorite?</h2>
<input type="radio" name="artist" value="Drake"><label>Drake</label>
<input type="radio" name="artist" value="Ariana Grande"><label>Ariana Grande</label>
<input type="radio" name="artist" value="Shawn Mendes"><label>Shawn Mendes</label>
<br></br>

<h2>Spicy, Sweet, or Salty?</h2>
<input type="radio" name="flavor" value="Spicy"><label>Spicy</label>
<input type="radio" name="flavor" value="Sweet"><label>Sweet</label>
<input type="radio" name="flavor" value="Salty"><label>Salty</label>
<br></br>

<h2>Which is the best animal?</h2>
<input type="radio" name="animal" value="Koala"><label>Koala</label>
<input type="radio" name="animal" value="Leopard"><label>Leopard</label>
<input type="radio" name="animal" value="Unicorn"><label>Unicorn</label>
<br></br>

<h2>Which decade has the best style?</h2>
<input type="radio" name="style" value="90's"><label>90's</label>
<input type="radio" name="style" value="2010's"><label>2010's</label>
<input type="radio" name="style" value="2020's"><label>2020's (the future fashion style will be the best)</label>
<br></br>

<h2>Which is the best school subject?</h2>
<input type="radio" name="subject" value="Math"><label>Math</label>
<input type="radio" name="subject" value="Science"><label>Science</label>
<input type="radio" name="subject" value="Fine Arts"><label>Fine Arts</label>
<br></br>
<input type="Submit" value="Submit">
</form>
</div>


    
  </div>
</div>
<div class = "directions">
<body align="center"> Hover the mouse over your favorite food to see which job you should have!
<img class = "yum" align = "left" src ="https://media1.tenor.com/images/32ddf6390cd0b8269c2da92e0ba5eac3/tenor.gif?itemid=4384078">
</body>
</div>
<br></br>

<div class = "abbbr">
<abbr title="Teacher">PB&J</abbr>
<div></div>
<abbr title="Businessman">Steak</abbr>
<div></div>
<abbr title="Scientist">Chicken</abbr>
<div></div>
<abbr title="Celebrity">Pizza</abbr>
<div></div>
<abbr title="Video Game Developer">Potato Chips</abbr>
<div></div>
<abbr title="Personal Trainer">Salad</abbr>
</div>
<br></br>
<br></br>

<!--<input type="radio" name="food" value="a"><label>PB&J</label>-->
<!--<div></div>-->
<!--<input type="radio" name="food" value="b"><label>Steak</label>-->
<!--<div></div>-->
<!--<input type="radio" name="food" value="c"><label>Sandwich</label>-->
<!--<div></div>-->
<!--<input type="radio" name="food" value="d"><label>Pizza</label>-->
<!--<div></div>-->
<!--<input type="radio" name="food" value="e"><label>Salad</label>-->
<!--<div></div>-->
<!--<input type="Submit" value="Submit">-->

<p15 align ="center"><h1>Make sure to follow your JAM creators:
<a href="https://www.instagram.com/abby.whalen/?hl=en"> Abby Whalen</a>
<a href="https://www.instagram.com/_.kaykay/?hl=en"> Jerkayla Nunaley</a></p15>
<br></br>
<p16>And don't forget to get in contact with Maia Dothager:
<a href="mailto:maia.dothager@yahoo.com?"> email</a></p16></h1>
<br></br>
<img src="http://merriganscrafts.dracowolf.com/wp-content/uploads/2014/10/coming-up-rainbows-thanks-for-visiting.gif"> 
</body>
</html>

