<h1>Welcome to our quiz! Find out which one of us you are most like!</h1>

<h2>Which of these is the best color?</h2>
<input type="radio" name="color" value="Blue"><label>Blue</label>
<input type="radio" name="color" value="Black"><label>Black</label>
<input type="radio" name="color" value="Rainbow"><label>Rainbow</label>
<br></br>

<h2>Which of these is the best movie?</h2>
<input type="radio" name="movie" value="Big Hero 6"><label>Big Hero 6</label>
<input type="radio" name="movie" value="the Lion King"><label>The Lion King</label>
<input type="radio" name="movie" value="A League of Their Own"><label>A League of Their Own</label>
<br></br>

<h2>Which is artist is your favorite?</h2>
<input type="radio" name="artist" value="Drake"><label>Drake</label>
<input type="radio" name="artist" value="Ariana Grande"><label>Ariana Grande</label>
<input type="radio" name="artist" value="Shawn Mendes"><label>Shawn Mendes</label>
<br></br>

<h2>Spicy, Sweet, or Salty?</h2>
<input type="radio" name="flavor" value="Spicy"><label>Spicy</label>
<input type="radio" name="flavor" value="Sweet"><label>Sweet</label>
<input type="radio" name="flavor" value="Salty"><label>Salty</label>
<br></br>

<h2>Which is the best animal?</h2>
<input type="radio" name="animal" value="Koala"><label>Koala</label>
<input type="radio" name="animal" value="Leopard"><label>Leopard</label>
<input type="radio" name="animal" value="Unicorn"><label>Unicorn</label>
<br></br>

<h2>Which decade has the best style?</h2>
<input type="radio" name="style" value="90's"><label>90's</label>
<input type="radio" name="style" value="2010's"><label>2010's</label>
<input type="radio" name="style" value="2020's"><label>2020's (the future fashion style will be the best)</label>
<br></br>

<h2>Which is the best school subject?</h2>
<input type="radio" name="subject" value="Math"><label>Math</label>
<input type="radio" name="subject" value="Science"><label>Science</label>
<input type="radio" name="subject" value="Fine Arts"><label>Fine Arts</label>
<br></br>



<!--Food Quiz-->
<input type="radio" name="food" value="a"><label>PB&J</label>
<input type="radio" name="food" value="b"><label>Steak</label>
<input type="radio" name="food" value="c"><label>Sandwich</label>
<input type="radio" name="food" value="d"><label>Pizza</label>
<input type="radio" name="food" value="e"><label>Salad</label>
<input type="Submit" value="Submit">

